<div>
    <h2 style="text-align: center;">Welcome, {{name}}!</h2>
</div>

<div class="row mt-4">
    <aside class="col-md-3">
    <h2>Articles: </h2>
  <div class="text-center">

    {{#each projects as |project| }}
      <div class="row mb-3 project">
        <div class="col-md-9">
          <h2> <a href="/project/{{project.id}}">{{project.name}}</a>
              <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
          </h2>
    {{/each}}
    

  </div>
  </aside>

  <div class="col-md-6">
    
    <h3>Create a New Project:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">project name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
